#thumb {
	position: relative;
}
#largeImage {
	border: 1px solid gray;
	padding: 4px 4px;
	width: 95%;
	margin-right:5%;
	background-color: white;
	cursor: pointer;
}
#description {
	background: black;
	color: white;
	position: relative;
	bottom: 0;
	padding: 10px 10px;
	width: 95%;
	margin-top: -10px;
	margin-bottom: 10px;
}